{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">

<div class="card">

<h2>Login</h2>

<form method="post" action="/login">

<input 
type="email"
name="email"
placeholder="Enter your email"
required
>

<input
type="password"
name="password"
placeholder="Enter your password"
required
>

<button type="submit">Login</button>

</form>

<p style="text-align:center; margin-top:10px;">
Don't have an account?
</p>

<a href="/signup">Create account</a>

</div>

</div>
{% endblock %}
