{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<div class="container">

<div class="card">

<h2>Signup</h2>

<form method="post">

<input 
type="email"
name="email"
placeholder="Enter your email"
required
>

<input
type="password"
name="password"
placeholder="Enter your password"
required
>

<button type="submit">Register</button>

</form>

<p style="text-align:center; margin-top:10px;">
Already have an account?
</p>

<a href="/login">Login here</a>

</div>

</div>
{% endblock %}
